.post {
    position: relative;
    width: 42%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 20px 2% 5%;
    float:left;
    border-radius: 15px;
}
    
.post-left {
    width: 15%;            
    max-width: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;
}
.post-content {
    width: 75%;           
    display: table-cell;
    text-align: left;
    background-color: #E8E8E8;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 156.25%;
    height: 25px;
    
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    clip-path: inset(0 0 10px 0);
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;
}

/* styles for trash icon */
#trash{
    float:right;
    margin-top: 3%;
    cursor:pointer;
}

/* styles for more icon */
#moreIcon{
    float: right;
    margin-bottom: 1%;
    cursor:pointer;
}

/*styles for card 5 */
.post5 {
    position: relative;
    width: 42%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 20px 30% 30%;
    float:left;
    border-radius: 15px;
}

@media screen and (max-width:1009px){
    .post-title{
        font-size:150%;
    }
}


@media screen and (max-width:976px){
    .post-title{
        font-size:140%;
    }
}

@media screen and (max-width:976px){
    .post-title{
        font-size:130%;
    }
}


@media screen and (max-width:880px){
    .post-title{
        font-size:110%;
    }
}


@media screen and (max-width:769px){
    .post-title{
        font-size:100%;
    }

    #trash{
        font-size: 25px;
        margin:2%;
    }

    #moreIcon{
         font-size: 25px;
    }
}


@media screen and (max-width:682px){
    .post{
        width:40%;
    }
}


/* styles for card delete modal content */
.deleteModal-content {
    background-color: #fefefe;
    margin: 1% auto;
    border: 1px solid #888;
    width: 30%;
    color:black;
    height: 20%; /* Could be more or less, depending on screen size */
  
}


 
#deleteModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* styles for the message displayed in delete post modal */
.para{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Calibri';
    margin-top: 8%;
}
 
/* styles for yes button inside delete post modal */
.yes{
    width: 40%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 90%;
    background: red;
    color: #fff;
    float: left;                   
    margin-left:4%;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}

/* styles for no button inside delete post modal */
.no{
    width: 40%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 90%;
    background: green;
    color: #fff;
    float: right;  
    border:none;                 
    margin-right:4% ;
    font-family: Arial, Helvetica, sans-serif;
}