.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
/* .blogContent{

} */

#signin
{
    color:white;
    font-size: 15px;
    background-color:blue; 
    font-family: 'Times New Roman', Times, serif; 
    height:40px;
    width:100px;
    margin-left: 1000px;
    margin-top: -100px;
    display: block;
}

#signup
{
  color:white;
  font-size: 15px;
  background-color:blue; 
  font-family: 'Times New Roman', Times, serif; 
  height:40px;
  width:100px;
  margin-left: 1120px;
  margin-top: -100px;
  display: block;
}

#editSave {
    background-color: rgb(223, 6, 172);
    color: white;
    padding: 5px 10px;
    height:40px;
    width:100px;
    margin-left: 90%;
    outline: none;
    border-radius: 2px;
  }
  
  #likeButton {
    background-color: rgb(223, 6, 172);
    color: white;
    padding: 5px 15px;
    margin-top: 2%;
    outline: none;
    border-radius: 2px;
  }
  
  #likeText {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
  }
  
  #textArea {
    padding: 5px;
    width: 90%;
  }
  
  #commentButton {
    background-color: red;
    color: white;
    padding: 5px 15px;
    outline: none;
  }
  
  #grayContainer {
    width: 90%;
    background-color: gray;
    padding: 1%;
  }
  
  
  .commentClass {
    background-color: white;
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }