.blogTite {
  font-size: 150%;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  display:flex;
  justify-content: center;
}
.blogText {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#blogBody{
 padding: 1%;
 margin: 2%;
}

.blogAuthor {
  padding: 0px 0px 0px 10px;
  font-family: 'Niconne', cursive;
  font-size: 30px;
  margin:2%;
}
.blogContent{

}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
#edit{
  float:right;
  padding: 10px 30px;
  margin-right: 2%;
  color:white;
  background:#DC143C;
  border: none;
  box-shadow: 0 8px 6px -6px #DC143C;
  cursor: pointer;
  

}

#save{
  float:right;
  padding: 10px 30px;
  margin-right: 2%;
  color:white;
  background:#DC143C;
  border: none;
  box-shadow: 0 8px 6px -6px #DC143C;
  cursor: pointer;
  display:none;
}

#like{
  margin-left:3%;
  padding: 10px 30px;
  color:white;
  background:#DC143C;
  border: none;
  box-shadow: 0 8px 6px -6px #DC143C;
  cursor: pointer;
}


#commentArea{
   margin-left:3%;
   width:60%;
  height:100%;
}

#counter{
  margin-left:3%;
}

#commentBtn{
  margin-left:3%;
  margin-top:1%;
 padding: 10px 30px;
  color:white;
  background:#DC143C;
  border: none;
  box-shadow: 0 8px 6px -6px #DC143C;
  cursor: pointer;

}

.commentHead{
  margin-left:3%;
  margin-top:3%;
}

#commentContainer{
  width:54%;
  margin-left:3%;
  background: #DCDCDC;
 border:10px solid #DCDCDC;
}